.delay-settings-label {
    float: left;
    margin-top: 5px;
}

.delay-settings-dropdown {
    float: left;
    margin-left: 10px;
}

#tick_timer {
  color: red;
  font-weight: 600;
}

p#timer_message {
  float: left;
}